@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 100px) {
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track:vertical {
    border-left: 1px solid var(--scrollbar-border-color);
  }

  ::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid var(--scrollbar-border-color);
  }

  ::-webkit-scrollbar-track {
    border-color: var(--scrollbar-border-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border: 0.25rem solid transparent;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbr-thumb-hover-color);
    border-color: transparent;
  }
}
